<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<script src="../node_modules/redux/dist/redux.js"></script>
<script src="../js/config.js"></script>
<script>
    const initialState = {
        token: null,
        user: null,
        accounts: [],
        selectedAccount: 0,
        movements: [],
        moreMovements: true,
        newUser: {},
        newTransaction: {},
        weather_info: {},
        appconfig: _appconfig
    };
    const reducer = (state = initialState, action) => {
        switch (action.type) {
            case 'SET_TOKEN':
                return Object.assign({}, state, {
                    token: action.token
                });
            case 'SET_USER':
                const newuser = Object.assign({}, action.user);
                return Object.assign({}, state, {
                    user: newuser
                });
            case 'UNSET_USER':
                return Object.assign({}, state, {
                    user: null
                });
            case 'SET_ACCOUNTS':
                return Object.assign({}, state, {
                    accounts: action.accounts
                });
            case 'SELECT_ACCOUNT':
                let val = action.selectedAccount
                return Object.assign({}, state, {
                    selectedAccount: val
                });
            case 'SET_MOVEMENTS':
                return Object.assign({}, state, {
                    movements: action.movements
                });
            case 'ADD_MOVEMENTS':
                let arr = state.movements.concat(action.movements);
                return Object.assign({}, state, {
                    movements: arr
                });
            case 'RESET_MOVEMENTS':
                return Object.assign({}, state, {
                    movements: [],
                    moreMovements: true
                });
            case 'MORE_MOVEMENTS':
                return Object.assign({}, state, {
                    moreMovements: action.moreMovements
                });
            case 'SET_NEWUSER':
                return Object.assign({}, state, {
                    newUser: action.newUser
                });
            case 'UNSET_NEWUSER':
                return Object.assign({}, state, {
                    newUser: {}
                });
            case 'SET_NEWTRANSACTION':
                return Object.assign({}, state, {
                    newTransaction: action.newTransaction
                });
            case 'SET_WEATHER':
                const weather_info = Object.assign({}, action.weather_info);
                return Object.assign({}, state, {
                    weather_info: weather_info
                });
            default:
                return state;
        }
    };
    const store = Redux.createStore(reducer, window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__());
    ReduxMixin = PolymerRedux(store);
</script>