<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
<link rel="import" href="../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/vaadin-notification/vaadin-notification.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/app-router/app-router.html">

<link rel="import" href="redux-dm-mixin.html">
<link rel="import" href="techu-header.html">
<link rel="import" href="techu-welcome-ui.html">
<link rel="import" href="techu-weather-dm.html">
<link rel="import" href="techu-accounts-list-dm.html">
<link rel="import" href="techu-movements-dm.html">
<link rel="import" href="techu-enroll-dm.html">
<link rel="import" href="techu-transaction-dm.html">


<dom-module id="techu-bankapp">
  <template>
    <style>
      :host {
        display: block;
        --cells-fontDefault: arial;
        --cells-fontDefaultNormal: arial;

        font-family: arial;
      }
    </style>

    <!-- local storage -->
    <app-localstorage-document id="tokenStore" key="token" data="{{_token}}" session-only></app-localstorage-document>
    <app-localstorage-document id="userStore" key="user" data="{{_user}}" session-only></app-localstorage-document>

    <!-- cabecera -->
    <techu-header id="header" user="[[user]]"></techu-header>

    <!-- spinner -->
    <cells-molecule-spinner-veil id="spinner"></cells-molecule-spinner-veil>

    <!-- router -->
    <app-router>
      <app-route path="/" import="src/techu-home.html"></app-route>
      <app-route path="/login" import="src/techu-login.html"></app-route>
      <app-route path="/dashboard" import="src/techu-dashboard.html"></app-route>
      <app-route path="/movements/:accountId" import="src/techu-movements.html"></app-route>
      <app-route path="/transaction/:accountId" import="src/techu-transaction-form.html"></app-route>
      <app-route path="/enroll" import="src/techu-enroll-form.html"></app-route>
      <app-route path="/404" import="src/techu-not-found.html"></app-route>
      <app-route path="*" import="src/techu-not-found.html"></app-route>
    </app-router>

    <!-- notificacion de bienvenida -->
    <vaadin-notification id="welcome" duration="4000" position="top-end">
      <template>
        <div>
          <techu-welcome-ui></techu-welcome-ui>
        </div>
      </template>
    </vaadin-notification>

    <!-- dialogo feedback-->
    <paper-dialog id="feedbackDialog">
      <techu-feedback id="feedback"></techu-feedback>
    </paper-dialog>

    <!-- notificacion -->
    <vaadin-notification id="appMessages" duration="0" position="middle">
      <template>
        <div>
          <h3>[[_notificationType]]</h3>
          <p>[[_notificationMessage]]</p>
          <br>
          <cells-st-button on-tap="_closeNotification">
            <button>Cerrar</button>
          </cells-st-button>
        </div>
      </template>
    </vaadin-notification>

    <!-- DM's -->
    <!-- recuperamos información del tiempo -->
    <techu-weather-dm id="weatherDm"></techu-weather-dm>
    <techu-accounts-list-dm id="accountsDm"></techu-accounts-list-dm>
    <techu-movements-dm id="movementsDm"></techu-movements-dm>
    <techu-enroll-dm id="enrollDm"></techu-enroll-dm>
    <techu-transaction-dm id="transactionDm"></techu-transaction-dm>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuBankApp extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-bankapp'; }
      static get properties() {
        return {
          _token: {
            type: String,
            observer: '_onTokenChange'
          },
          _user: {
            type: Object,
            observer: '_onUserChange'
          },
          selectedAccount: {
            type: Number,
            statePath: 'selectedAccount',
            observer: '_selectedAccountChanged'
          },
          movements: {
            type: Array,
            statePath: 'movements',
          },
          newUser: {
            type: Object,
            statePath: 'newUser',
            observer: '_onNewUserChange'
          },
          newTransaction: {
            type: Object,
            statePath: 'newTransaction',
            observer: '_onNewTransaction'
          },
          _notificationMessage: String,
          _notificationType: String
        }
      };

      static get observers() {
        return [
          '_userChanged(user)'
        ]
      }

      static get actions() {
        return {
          setToken(token) {
            return {
              type: 'SET_TOKEN',
              token
            };
          },
          setUser(user) {
            return {
              type: 'SET_USER',
              user
            };
          },
          unsetUser() {
            return {
              type: 'UNSET_USER'
            };
          }
        };
      }

      ready() {
        super.ready();

        // registramos los listener de los distintos eventos
        this.addEventListener('login-success', this._onLoginSuccess.bind(this));
        this.addEventListener('login-error', this._onLoginError.bind(this));
        this.addEventListener('logout', this._logout.bind(this));
        this.addEventListener('iron-ajax-request', this._showSpinner.bind(this));
        this.addEventListener('iron-ajax-response', this._hideSpinner.bind(this));
        this.addEventListener('iron-ajax-error', this._hideSpinner.bind(this));
        this.addEventListener('header-feedback', this._showfeedback.bind(this));
        this.addEventListener('feedback-close', this._onFeedbackClose.bind(this));
        this.addEventListener('app-notification', this._onAppNotification.bind(this));
        this.addEventListener('more-movements-requested', this._onMoreMovementsRequested.bind(this));
        this.addEventListener('balance-change', this._onBalanceChange.bind(this));

      }

      _onTokenChange(token) {
        if (token && (token != this.token)) {
          this.dispatch('setToken', token);
        }
      }

      _onUserChange(user) {
        if (user && !this.user) {
          this.dispatch('setUser', user);
        }
      }

      _onLoginSuccess(event) {

        this.$.weatherDm.retrieveWeatherData();

        // disparamos acciones para actualizar store
        this.dispatch('setToken', event.detail.token);
        this.dispatch('setUser', event.detail.user);

        // almacenamos el token y el usuario en las propiedades ligadas a sessionStorage
        this._token = event.detail.token;
        this._user = event.detail.user;
        // navegamos a posicion global
        this.root.querySelector('app-router').go('/dashboard');
        // abrimos mensaje de bienvenida
        this.root.querySelector('vaadin-notification#welcome').open();
      }

      _onLoginError(event) {
        this._notificationMessage = event.detail.msg;
        this.$.appMessages.open();
        this.root.querySelector('app-router').go('/');
      }

      _logout() {
        // limpiamos token y user en sessionStorage
        this._token = "";
        this._user = "";
        // limpiamos store
        this.dispatch('unsetUser');
        this.root.querySelector('app-router').go('/');
      }

      _onAppNotification(event) {
        this._notificationType = event.detail.type;
        this._notificationMessage = event.detail.msg;
        this.$.appMessages.open();
        if (event.detail.logout) {
          this._logout();
        }
        if (event.detail.goBack) {
          window.history.go(-1);
        }
      }

      _closeNotification() {
        this.$.appMessages.close();
      }

      _showSpinner(e) {
        this.$.spinner.open = true;
      }
      _hideSpinner(show = true) {
        this.$.spinner.open = false;
      }

      _showfeedback() {
        this.$.feedbackDialog.open();
      }

      _onFeedbackClose() {
        // eliminamos el componente techu-feedback
        const parentElem = this.$.feedbackDialog;
        const feedbackElem = parentElem.querySelector('techu-feedback');
        Polymer.dom(parentElem).removeChild(feedbackElem);
        const newFeedbackElem = document.createElement("techu-feedback");
        // creamos un elemento nuevo y lo añadimos al dialogo por si el usuario vuelve a dar feedback
        newFeedbackElem.setAttribute('id', 'feedback');
        parentElem.appendChild(newFeedbackElem);
      }

      _userChanged() {
        if (this.user) {
          this.$.accountsDm.getAccounts();
        }
      }

      _selectedAccountChanged() {
        if (this.selectedAccount) {
          this.$.movementsDm.accountId = this.selectedAccount;
          this.$.movementsDm.getMovements(10, 0);
        }
      }

      _onMoreMovementsRequested() {
        this.$.movementsDm.getMovements(10, this.movements.length);
      }

      _onBalanceChange() {
        this.$.accountsDm.getAccounts();
        this.$.movementsDm.getMovements(10, 0);
      }

      _onNewUserChange() {
        if (this.newUser && JSON.stringify(this.newUser) !== '{}') {
          this.$.enrollDm.postUser(this.newUser);
        }
      }
      _onNewTransaction() {
        if (this.newTransaction && JSON.stringify(this.newTransaction) !== '{}') {
          this.$.transactionDm.postTransaction(this.newTransaction, this.selectedAccount);
        }
      }

    }

    window.customElements.define(TechuBankApp.is, TechuBankApp);
  </script>
</dom-module>