<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">

<dom-module id="techu-feedback-result">
  <template>
    <style include="granite-bootstrap"></style>
    <style>
        .container {
          padding: 0rem 2em 1em 2em;
        }
  
        .buttons {
          float: right;
        }
      </style>
    <div class="container">
      <h2>Gracias!!</h2>
      <p>[[result]]</p>
      <small>Score: [[score]]</small>
      <div class="buttons">
        <paper-button autofocus dialog-confirm on-tap="_close">Aceptar</paper-button>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuFeedbackResult extends Polymer.Element {
      static get is() { return 'techu-feedback-result'; }
      static get properties() {
        return {
          "result": {
            type: String,
            value: ""
          },
          "score": {
            type: Number
          }
        }
      }

      _close() {
        this.dispatchEvent(new CustomEvent('feedback-close', {
          bubbles: true,
          composed: true
        }));
      }
    }

    window.customElements.define(TechuFeedbackResult.is, TechuFeedbackResult);
  </script>
</dom-module>