<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">

<dom-module id="techu-feedback-dm">
  <template>
    <iron-ajax id="ajax" method="POST" url="[[appconfig.api_endpoint]]/feedback" content-type="application/json" handle-as="json"
      body="[[transaction]]" on-response="_handleResponse" on-error="_handleError" bubbles>
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuFeedbackDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-feedback-dm'; }
      static get properties() {
        return {
          comment: {
            type: String,
            observer: '_onCommentChange'
          }
        }
      }

      _onCommentChange(comment) {
        if (comment) {
          this.$.ajax.body = { "text": comment };
          this.$.ajax.headers = {
            "token": this.token
          }
          this.$.ajax.generateRequest();
        }
      }

      _handleResponse(data) {
        this.dispatchEvent(new CustomEvent('feedback-ok', {
          detail: data.detail.response,
          bubbles: true,
          composed: true
        }));
      }

      _handleError(event) {
        super._handleAjaxError(event, "Error al registar el comentario");
      }
    }

    window.customElements.define(TechuFeedbackDm.is, TechuFeedbackDm);
  </script>
</dom-module>