<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="techu-styles.html">
<link rel="import" href="redux-mixin.html">
<link rel="import" href="techu-styles.html">

<dom-module id="techu-dashboard-item">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="techu-styles"></style>
    
    <div class="container w-75" id="productContainer">
      <div class="row">
        <div class="w-50">
          <p class="d-inline-block text-truncate displayIban" >[[iban]]</p>
          <p class="text-muted font-italic">[[description]]</p>
        </div>
        <div class="w-50 text-right">
          <p class="lead">[[displayAmount]]
          </p>
          <span class="badge badge-warning">[[type]]</span>
        </div>
      </div>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuDashboardItem extends ReduxMixin(Polymer.Element) {
      static get is() { return 'techu-dashboard-item'; }
      static get properties() {
        return {
          iban: String,
          description: String,
          type: String,
          balance: Number,
          id: Number,
          displayAmount: {
            type: String,
            computed: '_formatAmount(balance)'
          }
        }
      }

      static get actions() {
        return {
          selectAccount(accountId) {
            return {
              type: 'SELECT_ACCOUNT',
              selectedAccount: accountId
            };
          }
        };
      }

      ready() {
        super.ready();
        this.$.productContainer.addEventListener("click", this._raiseClickEvent.bind(this));
      }

      _raiseClickEvent(e) {
        this.dispatch('selectAccount', this.id);
        document.location = '/#/movements/' + this.id;
      }

      _formatAmount(amount) {
        return amount.toLocaleString('es-ES', { style: 'currency', currency: 'EUR' })
      }
    }

    window.customElements.define(TechuDashboardItem.is, TechuDashboardItem);
  </script>
</dom-module>