<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="techu-login-dm.html">

<dom-module id="techu-login">

  <template>
    <style>
      .container {
        margin: 0 auto;
        width: 40%;
        text-align: center;
      }
    </style>
    <div class="container">
      <cells-credentials-form id="loginForm" clear-id-icon="coronita:close" clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
        toggle-pwd-icon-toggled="coronita:hide" register autofocus></cells-credentials-form>
    </div>
    <techu-login-dm id="logindm"></techu-login-dm>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuLogin extends Polymer.Element {
      static get is() { return 'techu-login'; }
      static get properties() {
        return {
          userId: {
            type: String
          },
          userPassword: {
            type: String
          }
        };
      }

      ready() {
        super.ready();
        this.addEventListener('login', this._onRequestLogin.bind(this));
        this.addEventListener('login-error-dm', this._onLoginError.bind(this));
        this.addEventListener('request-register', this._onRegister.bind(this));
        this.addEventListener('request-password-recover', this._onRecoverPass.bind(this));
      }

      _onRequestLogin(event) {
        console.log("_onRequestLogin()");
        const credentials = {
          "userId": event.detail.userId,
          "password": event.detail.password
        };
        console.log("credentials: " + JSON.stringify(credentials));
        this.$.logindm.credentials = credentials;
        this.dispatchEvent(new CustomEvent('login-started', {
          bubbles: true,
          composed: true
        }));
      }

      _onLoginError(event) {
        this.dispatchEvent(new CustomEvent('login-error', {
          detail: event.detail,
          bubbles: true,
          composed: true
        }));
      }

      _onRegister(event) {
        document.location = '/#/enroll';
      }

      _onRecoverPass() {
        this.dispatchEvent(new CustomEvent('app-notification', {
          detail: {
            type: 'info',
            msg: 'Se ha enviado un correo para reestablecer la contraseña',
            logout: false
          },
          bubbles: true,
          composed: true
        }));
      }

    }

    window.customElements.define(TechuLogin.is, TechuLogin);
  </script>
</dom-module>