<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="redux-mixin.html">
<link rel="import" href="techu-movements-list.html">

<dom-module id="techu-movements">
  <template>
    <techu-movements-list id="list" movements="[[movements]]" account-id="[[selectedAccount]]" hasMore="[[moreMovements]]"></techu-movements-list>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuMovements extends ReduxMixin(Polymer.Element) {
      static get is() { return 'techu-movements'; }
      static get properties() {
        return {
          accountId: Number,
          movements: {
            type: Array,
            statePath: 'movements'
          },
          selectedAccount: {
            type: Number,
            statePath: 'selectedAccount'
          },
          moreMovements: {
            type: Boolean,
            statePath: 'moreMovements',
            observer: '_onMoreMovementsChange'
          }
        }
      }

      static get actions() {
        return {
          selectAccount(accountId) {
            return {
              type: 'SELECT_ACCOUNT',
              selectedAccount: accountId
            };
          }
        };
      }

      ready() {
        super.ready();
        // si se ha lanzado esta ruta sin que haya selecciondo previamente una 
        // cuenta (ejemplo, recarga de la pagina), se asigna la cuenta seleccionada
        if (!this.selectedAccount && this.accountId) {
          this.dispatch('selectAccount', this.accountId);
        }

      }

      _onMoreMovementsChange(hasMore) {
        this.$.list.hasMore = hasMore;
      }

    }

    window.customElements.define(TechuMovements.is, TechuMovements);
  </script>
</dom-module>