<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-avatar/paper-avatar.html">

<link rel="import" href="redux-dm-mixin.html">
<link rel="import" href="techu-feedback.html">



<dom-module id="techu-header">
  <template>
    <style include="granite-bootstrap"></style>
    <style>
      .navbar-item {
        margin-left: 1rem;
      }

      paper-avatar.small {
        --paper-avatar-width: 30px;
        vertical-align: bottom;
        margin-bottom: 5px;
        margin-left: 0.2rem;
      }

      iron-icon {
        --iron-icon-height: 36px;
        --iron-icon-width: 36px;
        margin-bottom: 3px;
      }

    </style>

    <nav class="navbar navbar-inverse bg-info text-white">
      <div class="container-fluid">
        <div class="navbar-header ">
          <template is="dom-if" if="{{_validUser}}">
            <a class="navbar-brand text-white" href="#/dashboard">TechU Bank</a>
          </template>
          <template is="dom-if" if="{{!_validUser}}">
            <a class="navbar-brand text-white" href="#">TechU Bank</a>
          </template>
        </div>
        <div class="navbar-header navbar-right">
          <template is="dom-if" if="{{_validUser}}">
            <a class="navbar-text navbar-item text-white font-weight-light small" href="javascript:void(0);" on-tap="_onFeedback">Feedback</a>
            
            <span class="navbar-text navbar-item">[[ user.firstName ]] [[ user.lastName ]]</span>
            <paper-avatar label="[[ user.firstName ]] [[ user.lastName ]]" class="small" src="[[user.avatar]]"></paper-avatar>
            
            <a class="navbar-text navbar-item text-white" on-tap="_logoutAction" href="">Logout</a>
          </template>

          <template is="dom-if" if="{{!_validUser}}">
            <a class="navbar-text navbar-item text-white" href="#/login"><iron-icon class="navbar-text" icon="social:person"></iron-icon>Login</a>
          </template>
        </div>
      </div>
    </nav>

    <p></p>

   
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class TechuHeader extends Polymer.Element {
      static get is() { return 'techu-header'; }
      static get properties() {
        return {
          _validUser: {
            type: Boolean,
            value: false,
            computed: '_computeValidUser(user)'
          }
        }
      }

      ready() {
        super.ready();
      }

      _logoutAction() {
        this.dispatchEvent(new CustomEvent('logout', {
          bubbles: true,
          composed: true
        }));
      }


      _computeValidUser(user) {
        const val = user && user.id || null
        return Boolean(val != null);
      }

      _onFeedback(){
        this.dispatchEvent(new CustomEvent('header-feedback', {
          bubbles: true,
          composed: true
        }));
      }

    }

    window.customElements.define(TechuHeader.is, TechuHeader);

  </script>

</dom-module>