<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="redux-mixin.html">
<link rel="import" href="techu-dashboard-item.html">
<link rel="import" href="techu-styles.html">



<dom-module id="techu-dashboard">
  <template>

    <style include="granite-bootstrap"></style>
    <style include="techu-styles"></style>
    
    <div class="t_container">
      <div class="container">
        <h4 class="techuTitle">Posición global</h4>
        <h4 class="techuTitle2">Cuentas</h2>
      </div>

      <ul class="list-group">
        <template is="dom-repeat" items="[[accounts]]" as="account">
          <li class="list-group-item">
            <techu-dashboard-item description="[[account.alias]]" balance="[[account.balance]]" iban="[[account.iban]]" type="[[account.type]]"
              id="[[account.id]]"></techu-dashboard-item>
          </li>
        </template>
      </ul>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuDashboard extends ReduxMixin(Polymer.Element) {
      static get is() { return 'techu-dashboard'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            statePath: 'accounts',
          }
        }
      }
    }

    window.customElements.define(TechuDashboard.is, TechuDashboard);
  </script>
</dom-module>