<dom-module id="techu-styles">

  <template>
    <style>
      .t_container {
        margin: 0 auto;
        width: 70%;
      }

      @media (min-width:768px) {
        .techuTitle {
          font-size: 3em;
          font-weight: 300;
        }
        .techuTitle2 {
          font-size: 2em;
          font-weight: 300;
        }
        .techuTitle3 {
          font-size: 1.5em;
          font-weight: 300;
        }
        .displayIban {
          max-width: 350px;
        }
      }

      @media (max-width:768px) {
        .techuTitle {
          font-size: 1.5em;
          font-weight: 300;
        }
        .techuTitle2 {
          font-size: 1.2em;
          font-weight: 300;
        }
        .techuTitle3 {
          font-size: 0.9em;
          font-weight: 300;
        }
        .displayIban {
          max-width: 80px;
        }
      }
    </style>
  </template>