<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../bower_components/cells-select/cells-select.html">
<link rel="import" href="../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../bower_components/cells-radio-group/cells-radio-group.html">
<link rel="import" href="../bower_components/cells-radio-button/cells-radio-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="redux-mixin.html">
<link rel="import" href="techu-styles.html">


<dom-module id="techu-transaction-form">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="techu-styles"></style>

    <style>
      :host {
        --cells-select-label-color: #666;
        --cells-molecule-input-field-label-color: #666;
      }


      .buttons-area {
        display: flex;
        justify-content: center;
      }

      .checkbox-options {
        display: flex;
        justify-content: space-around;
      }

      button {
        margin: 10px;
      }

      cells-select {
        --cells-select-options-item: {
          z-index: 1000;
        }
      }
    </style>
    <div class="t_container">
      <h2 class="techuTitle">Nuevo movimiento</h2>
      <h3 class="techuTitle2">Cuenta Origen: [[accountId]]</h3>

      <iron-form id="transactionForm">
        <form>
          <p>
            <label>Tipo de movimiento</label>
            <cells-radio-group id="typeGroup" selected="0" icon-check="coronita:checkmark" class="checkbox-options" required>
              <cells-radio-button icon="coronita:safeforlater" id="deposit">Ingreso</cells-radio-button>
              <cells-radio-button icon="coronita:return-15" id="payment">Pago</cells-radio-button>
              <cells-radio-button icon="coronita:transfer" id="transfer">Transferencia</cells-radio-button>
            </cells-radio-group>
          </p>
          <p>
            <cells-molecule-input label="Cantidad" type="text" allowed-chars="[0-9\.]" allowed-value="^([0-9])*(\.[0-9]{2})?$" value="{{amount}}"
              required auto-validate error-message="Debe indicar una cantidad válida" error-icon="coronita:alert">
            </cells-molecule-input>
          </p>
          <p>
            <cells-molecule-input label="Descripción" type="text" required prevent-invalid-input allowed-chars="[a-zA-Z ]" value="{{description}}">
            </cells-molecule-input>
          </p>
          <p>
            <!--    <cells-molecule-input id="destination" type="text" readonly="readonly" label="Cuenta Destino" icon="coronita:search" icon-toggled="coronita:search"
            icon-visibility="always" icon-action="none" icon-visibility="focused-content" on-value-changed="_ignoreInput" value="AAA"
            disabled>
          </cells-molecule-input> -->
            <cells-molecule-input id="destination" type="number" label="Cuenta Destino" value="{{destination}}" error-message="Debe indicar el id de una cuenta válida"
              auto-validate error-icon="coronita:alert">
            </cells-molecule-input>
          </p>

        </form>
      </iron-form>
      <div class="buttons-area">
        <cells-st-button on-tap="_cleanForm">
          <button>Limpiar</button>
        </cells-st-button>
        <cells-st-button on-tap="_submitForm">
          <button>Enviar</button>
        </cells-st-button>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuTransactionForm extends ReduxMixin(Polymer.Element) {

      static get is() { return 'techu-transaction-form'; }
      static get properties() {
        return {
          accountId: Number,
          type: String,
          amount: Number,
          description: String,
          destination: String,
          selectedAccount: {
            type: Number,
            statePath: 'selectedAccount'
          }
        }
      }

      static get actions() {
        return {
          setNewTransaction(newTransaction) {
            return {
              type: 'SET_NEWTRANSACTION',
              newTransaction
            };
          },
          selectAccount(accountId) {
            return {
              type: 'SELECT_ACCOUNT',
              selectedAccount: accountId
            };
          }
        };
      }

      ready() {
        super.ready();

        if (!this.selectedAccount && this.accountId) {
          this.dispatch('selectAccount', this.accountId);
        }
        this.$.destination.addEventListener('cells-molecule-input-icon-tap', this._searchAccounts.bind(this));
        document.addEventListener('cells-radio-button-toggled', this._enableTransfer.bind(this));
        this._enableTransfer();
      }

      _submitForm() {
        if (this.$.transactionForm.validate()) {
          let typeSelected = this.$.typeGroup.selected;
          let txType = this.$.typeGroup.radios[typeSelected].id;

          let transaction = {
            "type": txType,
            "amount": this.amount,
            "description": this.description,
          }
          if (txType === 'transfer') {
            transaction.destination = this.destination;
          }

          this.dispatch('setNewTransaction', transaction);

        }
      }

      _cleanForm() {
        this.$.transactionForm.reset();
      }

      _searchAccounts() {
        console.log("search");
        this.$.chooseAccountModal.open();
      }

      _ignoreInput(e) {
        this.$.destination.value = "AAA";
      }

      _chooseAccountModalClose() {
        this.$.chooseAccountModal.close();
      }

      _enableTransfer(e) {

        const value = this.$.typeGroup.allRadios[this.$.typeGroup.selected].id;
        if (value !== 'transfer') {
          this.$.destination.disabled = true;
          this.$.destination.required = false;
        } else {
          this.$.destination.disabled = false;
          this.$.destination.required = true;

        }
      }

    }

    window.customElements.define(TechuTransactionForm.is, TechuTransactionForm);
  </script>
</dom-module>