<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">


<dom-module id="techu-transaction-dm">
  <template>
    <iron-ajax id="ajax" method="POST" content-type="application/json" handle-as="json" on-response="_handleResponse" on-error="_handleError"
      bubbles>
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuTransactionDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-transaction-dm'; }
      static get properties() {
        return {

        }
      }
      
      postTransaction(tx, accountId) {
        if (tx && JSON.stringify(tx) !== '{}') {
          this.$.ajax.url = this.appconfig.api_endpoint + '/accounts/' + accountId + '/transactions';
          this.$.ajax.body = tx;
          this.$.ajax.headers = {
            "token": this.token
          }
          this.$.ajax.generateRequest();
        }

      }

      _handleResponse(response) {
        // notificamos un cambio de saldo
        this.dispatchEvent(new CustomEvent('balance-change', {
          bubbles: true,
          composed: true
        }));
        // mensaje de confirmacion al usuario
        this.dispatchEvent(new CustomEvent('app-notification', {
          detail: {
            'msg': 'Transacción realizada correctamente',
            'type': 'info',
            'logout': false,
            'goBack' : true
          },
          bubbles: true,
          composed: true
        }));
      }

      _handleError(response) {
        super._handleAjaxError(response, "Error al realizar transaccion");
      }
    }

    window.customElements.define(TechuTransactionDm.is, TechuTransactionDm);
  </script>
</dom-module>