<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="techu-feedback-form.html">
<link rel="import" href="techu-feedback-result.html">
<link rel="import" href="techu-feedback-dm.html">

<dom-module id="techu-feedback">
  <template>
    <div hidden$="[[!_displayForm]]">
      <techu-feedback-form id="feedbackForm"></techu-feedback-form>
    </div>
    <div hidden$="[[_displayForm]]">
      <techu-feedback-result id="result" result="[[ _feedbackResponse]]" score="[[_score]]"></techu-feedback-result>
    </div>
    <techu-feedback-dm id="dm"></techu-feedback-dm>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuFeedback extends Polymer.Element {
      static get is() { return 'techu-feedback'; }
      static get properties() {
        return {
          _displayForm: {
            type: Boolean,
            value: true
          },
          _feedbackResponse: String,
          _score: Number
        }

      }

      ready() {
        super.ready();
        this.$.feedbackForm.addEventListener('feedback-form-complete', this._onFormComplete.bind(this));
        this.$.dm.addEventListener('feedback-ok', this._onFeedbackSuccess.bind(this));
        this.$.dm.addEventListener('feedback-error', this._onFeedbackError.bind(this));
      }

      _onFormComplete(event) {
        const comment = event.detail.comment;
        this.$.dm.comment = comment;
      }

      _onFeedbackSuccess(event) {
        const responseMsg = event.detail.response_text;
        const score = event.detail.score;
        this._feedbackResponse = responseMsg;
        this._score = score;

        this._displayForm = false;

      }

      _onFeedbackError(event) {
        this._notificationMessage = event.detail;

        this.$.notification.open();
      }

      

    }

    window.customElements.define(TechuFeedback.is, TechuFeedback);
  </script>
</dom-module>