<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">


<dom-module id="techu-login-dm">
  <template>
    <iron-ajax id="ajax" method="POST" url="[[appconfig.api_endpoint]]/login" content-type="application/json" handle-as="json"
      on-response="_handleResponse" on-error="_handleError" bubbles>
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuLoginDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-login-dm'; }
      static get properties() {
        return {
          credentials: {
            type: Object,
            observer: '_onChangeCredentials'
          },
        };
      }

      _onChangeCredentials(credentials) {
        console.log("value changed");

        const payload = {
          'email': credentials.userId,
          'password' : credentials.password
        }

        // TODO: Borrar
        /* payload.email = "user1@techu.com";
        payload.password = "techumola"; */

        this.$.ajax.body = payload;
        this.$.ajax.generateRequest();
      }

      _handleResponse(data, request) {
        const token = data.detail.xhr.getResponseHeader('token') || "";
        const user = {
          "id": data.detail.response.user.id,
          "firstName": data.detail.response.user.first_name,
          "lastName": data.detail.response.user.last_name,
          "country": data.detail.response.user.country,
          "avatar": data.detail.response.user.avatar
        }

        // lanzamos evento con resultado de login 
        this.dispatchEvent(new CustomEvent('login-success', {
          detail: {
            user: user,
            token: token
          },
          bubbles: true,
          composed: true
        }));

      }

      _handleError(data) {
        console.error(data);
        // lanzamos evento con resultado de login 
        this.dispatchEvent(new CustomEvent('login-error-dm', {
          detail: {
            "msg": "Error al hacer login",
          },
          bubbles: true,
          composed: true
        }));
      }
    }

    window.customElements.define(TechuLoginDm.is, TechuLoginDm);
  </script>
</dom-module>