<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="redux-mixin.html">

<dom-module id="techu-welcome-ui">

  <template>
    <style>
      ul {
        list-style-type: none;
      }
    </style>
    <p>Hola [[user.firstName]]</p>
    <p>La temperatura en
      <b>[[weather_info.name]]</b> es: [[weather_info.main.temp]] ºC</p>
    Condiciones actuales:
    <ul>
      <li>
        <img src$="[[iconUrl]]" title$="[[conditionsDesc]]">
      </li>
      <li>Viento: [[weather_info.wind.speed]] km/h</li>
    </ul>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuWelcomeUi extends ReduxMixin(Polymer.Element) {
    
      static get is() { return 'techu-welcome-ui'; }
      static get properties() {
        return {
          iconUrl: {
            type: String,
            computed: 'computeWeatherIconUrl(weather_info)'
          },

          conditionsDesc: {
            type: String,
            computed: 'computeWeatherConditionsDesc(weather_info)'
          },

          weather_info: {
            type: Object,
            statePath: 'weather_info'
          },
          appconfig: {
            type: Object,
            statePath: 'appconfig'
          }, 
          user: {
            type: Object,
            statePath: 'user'
          }
        }
      }

      ready() {
        super.ready();
      }

      computeWeatherIconUrl(weather) {
        if (weather && JSON.stringify(weather) != '{}') {
          return this.appconfig.weather_icon_url + weather.weather[0].icon + '.png';
        }
        return "";
      }

      computeWeatherConditionsDesc(weather) {
        if (weather && JSON.stringify(weather) != '{}') {
          return weather.weather[0].description;
        }
        return '';
      }

    }

    window.customElements.define(TechuWelcomeUi.is, TechuWelcomeUi);
  </script>
</dom-module>