<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">

<dom-module id="techu-movements-item">
  <template>
      <style include="granite-bootstrap"></style>

    <div class="container w-75" id="productContainer">
      <div class="row">
        <div class="w-50">
          <p>[[_displayDate]]</p>
          <p class="text-muted font-italic">[[description]]</p>
        </div>
        <div class="w-50 text-right">
          <p class="lead">[[_displayAmount]]
          </p>
        </div>
      </div>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuMovementItem extends Polymer.Element {
      static get is() { return 'techu-movements-item'; }
      static get properties() {
        return {
          account_id: Number,
          amount: Number,
          description: String,
          transaction_id: String,
          date: Date,
          _displayDate: {
            type: String,
            computed: '_formatDate(date)'
          },
          _displayAmount: {
            type: String,
            computed: '_formatAmount(amount)'
          }
        }
      }

      ready() {
        super.ready();
      }

      _formatDate(d) {
        const date = moment(d).format('DD-MM-YYYY');
        return date;
      }

      _formatAmount(amount) {
         return amount.toLocaleString('es-ES', { style: 'currency', currency: 'EUR' })
      }
    }

    window.customElements.define(TechuMovementItem.is, TechuMovementItem);

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
</dom-module>