<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">

<dom-module id="techu-movements-dm">
  <template>
    <iron-ajax id="ajax" method="GET" url="[[appconfig.api_endpoint]]/accounts/[[accountId]]/transactions" content-type="application/json"
      handle-as="json" on-response="_handleResponse" on-error="_handleError" bubbles>
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuMovementDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-movements-dm'; }
      static get properties() {
        return {
          accountId: Number,
          _limit: Number,
          _skip: Number
        };
      }

      static get actions() {
        return {
          setMovements(movements) {
            return {
              type: 'SET_MOVEMENTS',
              movements
            };
          },
          addMovements(movements) {
            return {
              type: 'ADD_MOVEMENTS',
              movements
            };
          },
          moreMovements(hasMore) {
            return {
              type: 'MORE_MOVEMENTS',
              moreMovements: hasMore
            };
          }
        };
      }

      getMovements(limit, skip) {
        // truco, pedimos 1 más para ver si hay más 
        this._limit = limit;
        this._skip = skip;
        this.$.ajax.params = {
          "skip": skip,
          "limit": limit + 1
        };
        this.$.ajax.headers = {
          "token": this.token
        }
        this.$.ajax.generateRequest();
      }

      _handleResponse(data, request) {
        let hasMore = false;
        let resultSet = data.detail.response;
        if (resultSet.length > this._limit) {
          resultSet = resultSet.slice(0, this._limit);
          hasMore = true;
        }
        
        // guardamos en store si hay más movimientos (para gestionar scroll infinto)
        this.dispatch('moreMovements', hasMore);
        
        // si estamos paginando (skip>0), añadimos movimientos. Si es la primera petición (skip=0) seteamos la lista
        const action = (this._skip != 0)? 'addMovements':'setMovements';
        this.dispatch(action, resultSet);
      }

      _handleError(event) {
        super._handleAjaxError(event, "Error al recuperar los movimientos");
      }

    }

    window.customElements.define(TechuMovementDm.is, TechuMovementDm);
  </script>
</dom-module>