<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">

<dom-module id="techu-accounts-list-dm">
  <template>
    <iron-ajax id="ajax" method="GET" url="[[appconfig.api_endpoint]]/accounts" content-type="application/json" handle-as="json"
      on-response="_handleResponse" on-error="_handleError" bubbles>
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuAccountsListDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-accounts-list-dm'; }
      static get properties() {
        return {

        };
      }

      static get actions() {
        return {
          setAccounts(accounts) {
            return {
              type: 'SET_ACCOUNTS',
              accounts
            };
          }
        };
      }

      _handleResponse(event, request) {
        this.dispatch('setAccounts', event.detail.response);
      }

      _handleError(event) {
        super._handleAjaxError(event, "Error al recuperar lista de cuentas");
      }

      getAccounts() {
        this.$.ajax.headers = {
          "token": this.token
        }
        this.$.ajax.generateRequest();

      }
    }

    window.customElements.define(TechuAccountsListDm.is, TechuAccountsListDm);
  </script>
</dom-module>