<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">


<link rel="import" href="techu-styles.html">
<link rel="import" href="techu-movements-item.html">
<link rel="import" href="redux-mixin.html">

<dom-module id="techu-movements-list">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="techu-styles"></style>
    <style>
      .list {
        height: 400px;
        overflow-y: scroll;
      }


      .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
      }

      .infoMessage {
        margin: 2em;
      }
    </style>
    <div class="t_container">
      <div class="container">
        <h4 class="techuTitle">Movimientos</h4>
        <p  class="techuTitle3">Cuenta:
          <i>[[_accountObject.iban]]([[selectedAccount]])</i>
        </p>
        <p  class="techuTitle3">Saldo:
          <i>[[ _formatAmount(_accountObject.balance)]]</i>
        </p>
      </div>
      <template is="dom-if" if="[[! _movementsLength ]]">
        <h3 class="text-warning infoMessage">Sin Movimientos</h3>
      </template>

      <ul id="list" class="list-group list">
        <template id="movementsList" is="dom-repeat" items="[[movements]]" as="movement">
          <li class="list-group-item">
            <techu-movements-item description="[[movement.description]]" amount="[[movement.amount]]" account_id="[[movement.account_id]]"
              date="[[movement.date]]" transaction_id="[[movement.transaction_id]]"></techu-movements-item>
          </li>
        </template>
      </ul>

      <div class="container text-right footer">
        <button id="addBtn" type="button" class="btn btn-danger">
          <iron-icon icon="icons:add"></iron-icon>
        </button>
        <paper-tooltip for="addBtn" offset="10" animation-delay="100">Añadir Transacción</paper-tooltip>
      </div>

    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuMovementList extends ReduxMixin(Polymer.Element) {
      static get is() { return 'techu-movements-list'; }
      static get properties() {
        return {
          accountId: {
            type: Number
          },
          hasMore: {
            type: Boolean,
            value: true,
            observer: "_onHasMoreChange"
          },
          movements: {
            type: Array
          },
          _movementsLength: {
            type: Number,
            computed: '_computeMovementsLength(movements)'
          },
          _accountObject: {
            type: Object,
            computed: '_computeAccountObject(selectedAccount,accounts)'
          },
          accounts: {
            type: Array,
            statePath: 'accounts'
          },
          selectedAccount: {
            type: Number,
            statePath: 'selectedAccount'
          }
        }
      }


      ready() {
        super.ready();
        // guardamos referencia a la función manejadora del scroll para luego poder eliminarla (cuando no haya mas movimientos)
        this.scrollHandlerFn = this._onListScroll.bind(this);
        this.$.list.addEventListener('scroll', this.scrollHandlerFn);
        this.$.addBtn.addEventListener('click', this._onAddTransaction.bind(this));
      }

      // si se llega a la parte final de scroll, lanzamos evento para notificar que necesitamos más datos
      _onListScroll() {
        const list = this.$.list;
        if (list.scrollTop + list.clientHeight >= list.scrollHeight && this.hasMore) {
          this.dispatchEvent(new CustomEvent('more-movements-requested', {
            bubbles: true,
            composed: true
          }));
        }
      }

      _onHasMoreChange() {
        // si ya no hay más elementos, quitamos el listener del scroll
        if (this.hasMore === false) {
          this.$.list.removeEventListener('scroll', this.scrollHandlerFn);
        }
      }

      _onAddTransaction() {
        // navegamos a añadir movimiento
        document.location.href = "/#/transaction/" + this.accountId;
      }

      _computeMovementsLength(movements) {
        return movements.length;
      }

      _computeAccountObject(accountId) {
        let found;
        const id = parseInt(accountId);
        if (this.accounts && id) {
          found = this.accounts.find((account) => {
            return account.id === id;
          });
        }
        return found || {};
      }

      _formatAmount(amount) {
        return (amount) ?
          amount.toLocaleString('es-ES', { style: 'currency', currency: 'EUR' })
          : "";
      }

    }

    window.customElements.define(TechuMovementList.is, TechuMovementList);
  </script>
</dom-module>