<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">

<dom-module id="techu-feedback-form">
  <template>
    <style include="granite-bootstrap"></style>
    <style>
      .container {
        padding: 0rem 2em 1em 2em;
      }

      .buttons {
        float: right;
      }

      .boxsizingBorder {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
      }
    </style>
    <div class="container">
      <h2>Feedback</h2>
      <p>Comentanos qué te parece nuestra aplicación para que podamos mejorar</p>
      <textarea id="comment" rows="4" cols="60" class="boxsizingBorder" value="{{comment::input}}">
      </textarea>
      <div class="buttons">
        <paper-button dialog-confirm>Cancelar</paper-button>
        <paper-button autofocus on-tap="_onAccept">Aceptar</paper-button>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuFeedbackForm extends Polymer.Element {
      static get is() { return 'techu-feedback-form'; }
      static get properties() {
        return {
          "comment": {
            type: String,
            value: ""
          }
        }

      }

      _onAccept() {
        this.dispatchEvent(new CustomEvent('feedback-form-complete', {
          detail: {
            "comment": this.comment
          },
          bubbles: true,
          composed: true
        }));
      }

    }

    window.customElements.define(TechuFeedbackForm.is, TechuFeedbackForm);
  </script>
</dom-module>