<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../bower_components/cells-select/cells-select.html">
<link rel="import" href="../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html" />
<link rel="import" href="../bower_components/yo-file-uploader/yo-file-uploader.html" />
<link rel="import" href="./redux-mixin.html" />

<dom-module id="techu-enroll-form">
  <template>
    <style>
      .container {
        margin: 0 auto;
        width: 70%;
      }

      :host {
        --cells-select-label-color: #666;
        --cells-molecule-input-field-label-color: #666;
      }

      .buttons-area {
        display: flex;
        justify-content: center;
      }

      button {
        margin: 10px;
      }
    </style>
    <div class="container">
      <p>Nuevo usuario</p>
      <iron-form id="newCustomerFormIron">
        <form>
          <p>
            <cells-molecule-input label="Email" type="email" value="{{email}}" required auto-validate error-message="Debe indicar una direccion de email correcta"
              error-icon="coronita:alert">
            </cells-molecule-input>
          </p>
          <p>
            <cells-molecule-input id="password" label="Contraseña" type="password" value="{{password}}" required>
            </cells-molecule-input>
          </p>
          <p>
            <cells-molecule-input id="repeatPassword" label="Repetir Contraseña" type="password" required on-value-changed="_validatePasswd">
            </cells-molecule-input>
          </p>
          <p>
            <cells-molecule-input name="firstName" label="Nombre" type="text" required prevent-invalid-input allowed-chars="[a-zA-Z ]"
              value="{{firstName}}">
            </cells-molecule-input>
          </p>
          <p>
            <cells-molecule-input name="lastName" label="Apellidos" type="text" required prevent-invalid-input allowed-chars="[a-zA-Z ]"
              value="{{lastName}}">
            </cells-molecule-input>
          </p>
          <p>
            <cells-select id="country" label="País" right-icon="coronita:unfold" placeholder="País" value="{{country}}" required>
            </cells-select>
          </p>
          <p>
            <yo-file-uploader id="avatarFile" label="Arrastra la imagen para tu avatar (Opcional)" multiple="false"></yo-file-uploader>
          </p>
        </form>
      </iron-form>
      <div class="buttons-area">
        <cells-st-button on-tap="_cleanForm">
          <button>Limpiar</button>
        </cells-st-button>
        <cells-st-button on-tap="_submitForm">
          <button>Enviar</button>
        </cells-st-button>
      </div>
    </div>
  </template>
  <script>
    const _countriesList = [
      { 'title': 'España', 'code': 'es' },
      { 'title': 'Italia', 'code': 'it' },
      { 'title': 'Francia', 'code': 'fr' },
      { 'title': 'Brasil', 'code': 'br' }
    ];
    /**
     * @customElement
     * @polymer
     */
    class TechuEnrollForm extends ReduxMixin(Polymer.Element) {
      static get is() { return 'techu-enroll-form'; }
      static get properties() {
        return {
          email: String,
          firstName: String,
          lastName: String,
          country: String,
          password: String,
          appconfig: {
            type: Object,
            statePath: 'appconfig'
          }
        }
      }

      static get actions() {
        return {
          setNewUser(newUser) {
            return {
              type: 'SET_NEWUSER',
              newUser
            };
          }
        };
      }

      ready() {
        super.ready();
        this.$.country.options = _countriesList;
      }

      _validatePasswd() {
        const validation = this.$.repeatPassword.value === this.$.password.value;
        if (!validation) {
          this.$.repeatPassword.invalid = true;
          this.$.repeatPassword.errorMessage = "Password must be repeated exactly";
        } else {
          this.$.repeatPassword.invalid = false;
          this.$.repeatPassword.errorMessage = null;
        }
        return validation;
      }

      _submitForm() {
        let formOK = this.$.newCustomerFormIron.validate();
        let passwdOK = this._validatePasswd();
        if (formOK && passwdOK) {
          // vemos si se ha incluido imagen para avatar
          if (this.$.avatarFile.files.length > 0) {
            this._showBusy(true);
            avatarStore.init(this.appconfig.avatarStore);
            avatarStore.uploadImage(this.$.avatarFile.files[0])
              .then((data) => {
                this._avatarPath = data.path;
                this._dispatchCompleteForm();
                this._showBusy(false);
              })
              .catch(() => {
                this._dispatchCompleteForm();
                this._showBusy(false);
              });
          } else {
            this._dispatchCompleteForm();
          }
        }
      }

      _dispatchCompleteForm() {
        const newUser = {
          "email": this.email,
          "password": this.password,
          "first_name": this.firstName,
          "last_name": this.lastName,
          "country": this.$.country.selectedOption.code,
          "avatar": this._avatarPath
        }
        this.dispatch('setNewUser', newUser);
      }

      _cleanForm() {
        this.$.newCustomerFormIron.reset();
      }

      _showBusy(on) {
        var event = on ? 'iron-ajax-request' : 'iron-ajax-response';
        this.dispatchEvent(new CustomEvent(event, {
          bubbles: true,
          composed: true
        }));
      }

    }

    window.customElements.define(TechuEnrollForm.is, TechuEnrollForm);
  </script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.238.1.min.js"></script>
  <script src="../js/avatar_utils.js"></script>
</dom-module>