<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="techu-not-found">
  <template>
    <p> Not found </p>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuNotFound extends Polymer.Element {
      static get is() { return 'techu-not-found'; }
      static get properties() {
        
      }

    }

    window.customElements.define(TechuNotFound.is, TechuNotFound);
  </script>
</dom-module>