<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">

<dom-module id="techu-home">
  <template>
    <style include="granite-bootstrap"></style>
    <style>

      .jumbotron {
        padding: 60px 0px;
        margin-bottom: 0;
        text-align: center;
      }

      /*Parallax*/

      .Parallax-content {
        position: relative;
        overflow: hidden;
        height: 60vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
      }

      .Parallax {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      .Parallax:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: -1;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 120% auto;
      }

      /*xs to lg*/

      @media(min-width: 769px) {
        .Parallax-content {
          background-image: url(../images/backgroundA.jpg);
        }
        .Parallax-content-2 {
          background-image: url(../images/backgroundB.jpg);
        }
        .Parallax-content-3 {
          background-image: url(../images/backgroundC.jpg);
        }
      }

      /*xs to 0*/

      @media(max-width: 768px) {
        .Parallax-content .Parallax:before {
          background-image: url(../images/backgroundA.jpg);
        }
        .Parallax-content-2 .Parallax:before {
          background-image: url(../images/backgroundB.jpg);
        }
        .Parallax-content-3 .Parallax:before {
          background-image: url(../images/backgroundC.jpg);
        }
      }
    </style>

    <!-- Parallax -->
    <div class="Parallax-content">
      <div class="Parallax">
      </div>
    </div>

    <div class="jumbotron">
      <div class="container-fluid">
        <h1 class="text-success">Tech University Bank</h1>
        <p class="text-secondary">A modern responsive front-end bank based on concepts learnt at Tech University</p>
      </div>
    </div>

    <!-- Parallax -->
    <div class="Parallax-content Parallax-content-2">
      <div class="Parallax">
      </div>
    </div>


    <div class="jumbotron">
      <div class="container-fluid">
        <h1 class="text-primary">Construido usando las últimas tecnologías</h1>
        <p class="text-secondary">Polymer, Redux, NodeJS, Docker, Openshift</p>
        <p>
          <button type="button" class="btn btn-secondary" on-tap="_gotoLogin">Login</button>
        </p>
      </div>
    </div>

    <!-- Parallax -->
    <div class="Parallax-content Parallax-content-3">
      <div class="Parallax">
      </div>
    </div>

    <div class="jumbotron">
      <div class="container-fluid">
        <h1 class="text-info">Registrate ya!!</h1>
        <p class="text-secondary">Registrate hoy y comienza a disfrutar de las ventajas de ser parte del banco más avanzado  </p>
        <p>
          <button type="button" class="btn btn-secondary" on-tap="_gotoRegistration">Registrate</button>
        </p>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuHome extends Polymer.Element {

      static get is() { return 'techu-home'; }
      static get properties() {
        return {

        }
      }

      _gotoRegistration(){
        document.location = '/#/enroll';
      }

      _gotoLogin(){
        document.location = '/#/login';
      }
    }

    window.customElements.define(TechuHome.is, TechuHome);
  </script>
</dom-module>