<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="redux-dm-mixin.html">

<dom-module id="techu-enroll-dm">
  <template>
    <iron-ajax id="ajax" method="POST" url="[[appconfig.api_endpoint]]/users" content-type="application/json" handle-as="json"
      body="[[user]]" on-response="_handleResponse" on-error="_handleError" bubbles>
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuEnrollDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-enroll-dm'; }
      static get properties() {
        return {
        }
      }

      postUser(user) {
        if (user && JSON.stringify(user) !== "{}") {
          this.$.ajax.body = user;
          this.$.ajax.generateRequest();
        }
      }

      _handleResponse(event) {
        this.dispatchEvent(new CustomEvent('app-notification', {
          detail: {
            "msg": "Usuario registrado correctamente",
            'type': 'info',
            'logout': true
          },
          bubbles: true,
          composed: true
        }));
      }

      _handleError(event) {
        super._handleAjaxError(event, "Error al registrar un nuevo usuario");
      }
    }

    window.customElements.define(TechuEnrollDm.is, TechuEnrollDm);
  </script>
</dom-module>