<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="redux-dm-mixin.html">

<dom-module id="techu-weather-dm">
  <template>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuWeatherDm extends ReduxDmMixin(Polymer.Element) {
      static get is() { return 'techu-weather-dm'; }
      static get properties() {
        return {
          city: {
            type: String,
            observer: '_onCityChanged'

          },
          weather: {
            type: Object,
            observer: '_onWeatherChanged'
          }
        }
      }
      static get actions() {
        return {
          setWeather(weather_info) {
            return {
              type: 'SET_WEATHER',
              weather_info
            };
          }
        };
      }


      retrieveWeatherData() {
        this.callLocalizationAPI();
      }

      /**
       * Llama al API de localizacion y obtiene la ciudad 
       * Establece la propiedad city del componente
       */ 
      callLocalizationAPI() {
        const request = new XMLHttpRequest();

        request.open('GET', this.appconfig.localization_endpoint);
        request.setRequestHeader('Accept', 'application/json');

        const welcomeElem = this;
        request.onreadystatechange = function () {
          if (this.readyState === 4) {
            const resObj = JSON.parse(this.responseText);
            welcomeElem.city = resObj.city;
          }
        };
        request.send();
      }
      /**
       * Llama al API de Tiempo meteorológico
       * Establece la propiedad weather del componente
       */ 
      callWeatherAPI() {
        const request = new XMLHttpRequest();

        request.open('GET', this.appconfig.weather_endpoint + '?q=' + this.city + '&appid=' + this.appconfig.weather_apikey + '&units=metric&lang=es');
        request.setRequestHeader('Accept', 'application/json');

        const welcomeElem = this;
        request.onreadystatechange = function () {
          if (this.readyState === 4) {
            const resObj = JSON.parse(this.responseText);
            welcomeElem.weather = resObj;
            console.log(JSON.stringify(resObj));
          }
        };
        request.send();
      }

      _onCityChanged(city) {
        if (city) {
          this.callWeatherAPI();
        }
      }

      _onWeatherChanged(weather) {
        if (weather && JSON.stringify(weather) != '{}') {
          this.dispatch('setWeather', weather);
        }
      }

    }

    window.customElements.define(TechuWeatherDm.is, TechuWeatherDm);
  </script>
</dom-module>